<!--   namespace :名称空间   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.questnest.mapper.InformMapper">

    <!-- 实体类和表的字段映射 -->
    <resultMap id="InformResultMap" type="com.lt.questnest.entity.Inform">
        <result property="informId" column="inform_id"/>
        <result property="senderId" column="sender_id"/>
        <result property="receiverId" column="receiver_id"/>
        <result property="content" column="content"/>
        <result property="sendTime" column="send_time"/>
        <result property="read" column="read"/>
    </resultMap>

    <insert id="add">
        insert into `inform`(`sender_id`,`receiver_id`,`content`,`send_time`)
        value (#{senderId},#{receiverId},#{content},#{sendTime})
    </insert>

    <update id="updateRead">
        update `inform`
        set `read` = 1
        where `inform_id` = #{informId}
    </update>

    <select id="getRead" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `inform`
        WHERE `read` = 0 and `receiver_id` = #{receiverId}
    </select>

</mapper>